<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">To Do App</h4>
            <%= form_for(@todo) do |form| %>
                
                  <% if @todo.errors.any? %>
                    <% @todo.errors.full_messages.each do |message| %>
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <div>
                              <%= message %>
                            </div>
                        </div>

                    <% end %>

                  <% end %>
                <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                <div class="col-12">
                    <div class="form-outline">
                    
                    <%= form.text_field :title, type: "text", class: "form-control", placeholder: "Enter title"%>
                    <br>
                    <%= form.text_area :description, type: "text", class: "form-control", placeholder: "Enter the Task"%>
                    <br>
                    <%= form.check_box :active, class: "form-check-input"%>
                    <%= form.label :completed %>
                    </div>
                </div>
                <br>
                <div class="col-6">
                    <%= form.submit "Create Task", class: "btn btn-primary" %>
                    <%= link_to 'Back', root_path, class: "btn btn-primary"%>
                </div>
                </form>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>